.kulukortti {
    /* padding: 1em 0 1em 1em; */
    border-bottom: 1px solid #BADDFE;
    display: flex;
  }
  
  .kulukortti__rivi {
    display: flex;
    justify-content: space-between;
  }
  
  .kulukortti__tyyppi, .kulukortti__summa {
    font-weight: bold;
  }
  
  .kulukortti__maksupaiva, .kulukortti__ajanjakso, 
  .kulukortti__laskuttaja, .kulukortti__keskiarvo {
    font-size: 85%;
    color: #666;
  }

  /* kulukortin sisällä olevat <div>:it */
  .kulukortti > div {
    flex: 1 1 auto;
    padding: 1em;
  }

  /* muokkausnuoli */
  .kulukortti__linkki {
    max-width: 1em;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
  }

  /* kun hiirellä mennään kulukortin päälle, muutetaan muokkausnuoli näkyviin */
  .kulukortti:hover .kulukortti__linkki {
    display: flex;
  }

  /* kulukortin muokkausnuolilinkin sisällä olevan anchorin määritys,
     annetaan eri väri, kuin mitä tulisi oletuksena <Link>-elementissä,
     jonka sisällä muokkausnuolilinkki on Kulukortti.js:ssä */
  .kulukortti__linkki a {
    color: #000;
  }